html, body, .holder {
  height: 100%;
}

body {
  background-color: #222222;
  color: #EEEEEE;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0px;

  font-size: 16px;
}

.holder {
  display: flex;
  flex-direction: row;
}

.playlists {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  max-width: 30%;
  padding: 15px 10px 0px 10px;
  background-color: rgba(0,0,0,0.3);
  overflow: scroll;
}

.playlists .playlist {
  background-color: rgba(255,255,255,0.1);
  padding: 10px 40px 10px 20px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  position: relative;
}

.playlists .playlist:hover {
  background-color: rgba(255,255,255,0.15);
}

.playlist span {
  display: block;
}

.playlist .name {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.playlist .download {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 11px;
}

.playlist .download img {
  filter: invert(100%);
  height: 30px;
}

.playlist .download:hover img {
  filter: invert(50%) sepia(100%) hue-rotate(100deg) saturate(6);
}

.tracks {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 10px 0px 10px;
  overflow: scroll;
}

.tracks .track {
  background-color: rgba(255,255,255,0.1);
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;

  transition: background-color 0.5s ease;
}

.tracks .track.found {
  background-color: rgba(0,255,0,0.3);
}

.tracks .track.failed {
  background-color: rgba(255,0,0,0.3);
}

.track span {
  display: block;
}

.track .artist {
  opacity: 0.6;
}
