html, body {
  height: 100%;
}

body {
  background-color: #222222;
  color: #EEEEEE;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  text-align: center;
  margin: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.uploader {
  display: inline-block;
  padding: 30px 40px;
  border: 3px dashed white;
  border-radius: 5px;

  width: 40vh;
  position: relative;
  height: 40vh;

  cursor: pointer;
}

.uploader.hovered {
  background-color: rgba(255, 255, 255, 0.1);
}

.uploader img {
  filter: invert(100%);
  height: 50px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  margin: 0px 55px;
}
